
body {
  background-color: #e3fafa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background-color: #a5d2f1;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(239, 167, 167, 0.3);
  width: 320px;
}

#display {
  width: 100%;
  height: 60px;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: #f5fbfc;
  color: #93cee3;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  height: 60px;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: #086c73;
  color: #07242e;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #555;
}

button:active {
  background-color: #777;
}

button:nth-child(4n) {
  background-color: #2d7d87;
}

button:nth-child(4n):hover {
  background-color: #ffa733;
}

button:nth-child(16) {
  background-color: #227a7d;
}

button:nth-child(16):hover {
  background-color: #ff5c50;
}